.frame { 
    @apply xl:h-60 lg:h-56 aspect-video;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img[alt$="><"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.LinkWrapper{
    @apply text-black transition-all;
}
.LinkWrapper:hover {
   @apply text-gPrimaryColor;
}

.Refference{
    @apply text-gPrimaryColor transition-all;
}
.Refference:hover {
   @apply text-gDarkPrimaryColor;
}


/* =================== Grid =================*/

.title { 
    @apply text-3xl py-2 text-gPrimaryColor font-changa w-full text-left;
}

.subtitle { 
    @apply text-2xl py-2 text-gPrimaryColor font-changa w-full text-left;
}

.subsubtitle { 
    @apply text-xl py-2 text-gPrimaryColor font-changa w-full text-left;
}

.grid-container{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.reversed-col-content{
    flex-direction:  column-reverse;
}

@media screen and (min-width: 900px){
    .grid-container{
        
        display: grid;
        gap: 2em;
    }
    
    .grid-centered-container{ grid-template-columns: repeat(2, 1fr);}
    
    .grid-leftWeighted-container{ grid-template-columns: 60% 40%;}
    
    .grid-rightWeighted-container{ grid-template-columns: 40% 60%;}
    
    .grid-container iframe,.grid-leftWeighted-container iframe,.grid-rightWeighted-container iframe,
    .grid-container p,.grid-leftWeighted-container p,.grid-rightWeighted-container p,
    .grid-container div,.grid-leftWeighted-container div,.grid-rightWeighted-container div{
        place-self: center;
    }
}


/* ==========================================*/
